In [1]:
import numpy as np
import pandas as pd

In [10]:
df = pd.read_excel("test_LT.xlsx")
df.head()

  Unnamed: 0 Unnamed: 1
0        NaN        NaN
1        NaN        NaN
2        NaN        NaN
3        NaN        NaN
4        NaN        NaN