In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
excell = pd.ExcelFile("test_LT.xlsx")

In [17]:
distance = excell.parse('Пробег')
rate = excell.parse('Ставка за км')
filials = excell.parse('Филиал')

In [29]:
distance.head()
# df1.shape # (86, 40)

,Филиал,Серия,2017,2018,2019,2020,2021,2022,2023,2024,...,2045,2046,2047,2048,2049,2050,2051,2052,2053,2054
0,Восточно-Сибирский,ВЛ65ви,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Восточно-Сибирский,ТЭ10ви,5.881054e+04,5.881054e+04,5.881054e+04,5.897211e+04,5.881054e+04,5.881054e+04,5.881054e+04,5.897211e+04,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Восточно-Сибирский,ВЛ85ви,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Восточно-Сибирский,2ЭС5Кви,3.234580e+06,3.234580e+06,3.234580e+06,3.243466e+06,3.234580e+06,3.234580e+06,3.234580e+06,3.243466e+06,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Восточно-Сибирский,3ЭС5Кви,6.880833e+06,6.880833e+06,6.880833e+06,6.899736e+06,6.880833e+06,6.880833e+06,6.880833e+06,6.899736e+06,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
rate.head()
# rate.shape # (23, 2)

     Серия  Ставка
0   ВЛ65ви   35.06
1   ТЭ10ви   36.99
2   ВЛ85ви   14.82
3  2ЭС5Кви   13.61
4  3ЭС5Кви   20.61

In [25]:
filials.head()
# filials.shape # (9, 1)

             Амурский
0  Восточно-Сибирский
1     Дальневосточный
2   Западно-Сибирский
3            Западный
4          Московский

In [43]:
def 


distance[distance['Филиал'] == "Восточно-Сибирский"][distance['Серия'] == "ТЭ10ви"]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

,Филиал,Серия,2017,2018,2019,2020,2021,2022,2023,2024,...,2045,2046,2047,2048,2049,2050,2051,2052,2053,2054
1,Восточно-Сибирский,ТЭ10ви,58810.537925,58810.537925,58810.537925,58972.105336,58810.537925,58810.537925,58810.537925,58972.105336,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0